li {
    /*font-size: 0.6em;*/
    margin-bottom: 0.5rem;
}
ul ul {
    margin: 1rem 0 1rem 2rem;
}
@media (max-width: 900px) {
    button {
        padding: 0rem;
    }
}

button.tiny {
    margin: auto;
    display: block;
    padding: 0rem 0.5rem;
}

span {
    /*font-size: 0.9rem;*/
}

.grey {
    color: grey;
}

li.closed {
    color: grey;
}

.rel-time {
    color: grey;
    font-size: 0.8em;
}

ul {
    list-style-type: none;
}
